html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.centering-container {
    height: 100%;
    width: 100%;
    display: table;
}

.centered-container {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.content {
    display: flex;
    align-items: center;
    margin: auto;
}

.profile-picture-container > img {
    border-radius: 50%;
}

.text-and-icons-container {
    display: flex;
}

.text-container {
    font-family: 'SF Pro Display', sans-serif;
    display: flex;
    flex-direction: column;
}

.text-container > h1 {
    margin: 0;
}

.text-container > p {
    margin: 0;
}

.icons-container {
    display: flex;
    gap: 4px;
}

@media screen and (max-width: 1200px) {    
    .centered-container {
        padding-bottom: 10vh;
    }
    
    .content {
        flex-direction: column;
        max-width: 284px;
        gap: 40px;
    }
    
    .profile-picture-container > img {
        width: 167px;
        height: 167px;
    }

    .text-and-icons-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    
    .text-container {
        text-align: center;
        gap: 16px;
        max-width: 284px;
    }
    
    .text-container > h1 {
        line-height: 56px;
        font-size: 40px;
    }
    
    .text-container > p {
        line-height: 24px;
        font-size: 16px;
    }
    
    .icons-container {
        flex-direction: row;
    }
    
    .contact-icon {
        width: 32px;
        height: 32px;
    }
}

@media only screen and (max-width: 1200px) and (orientation: landscape) {   
    .centered-container {
        padding-bottom: 0;
    }
    
    .content {
        flex-direction: row;
        justify-content: center;
    }
    
    .profile-picture-container > img {
        width: 167px;
        height: 167px;
    }

    .text-and-icons-container {
        flex-direction: row;
        align-items: left;
        gap: 40px;
    }
    
    .text-container {
        text-align: left;
        gap: 16px;
        width: 284px;
    }
    
    .text-container > h1 {
        line-height: 56px;
        font-size: 40px;
    }
    
    .text-container > p {
        line-height: 24px;
        font-size: 16px;
    }
    
    .icons-container {
        flex-direction: column;
    }
    
    .contact-icon {
        width: 32px;
        height: 32px;
    }
}

@media screen and (min-width: 1200px) {    
    .centered-container {
        padding-bottom: 0;
    }
    
    .content {
        flex-direction: row;
        justify-content: center;
        gap: 32px;
    }
    
    .profile-picture-container > img {
        width: 320px;
        height: 320px;
    }

    .text-and-icons-container {
        flex-direction: column;
        align-items: left;
        gap: 32px;
        padding: 16px 32px;
    }
    
    .text-container {
        text-align: left;
        gap: 32px;
    }
    
    .text-container > h1 {
        line-height: 96px;
        font-size: 96px;
        font-weight: 700;
    }
    
    .text-container > p {
        line-height: 40px;
        font-size: 24px;
        max-width: 566px;
    }
    
    .icons-container {
        flex-direction: row;
    }
    
    .contact-icon {
        width: 32px;
        height: 32px;
    }
}