* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans;
  -webkit-tap-highlight-color: transparent; 
}

/* ---------- Layout ---------- */

html{scroll-behavior:smooth}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #151515;
  scroll-behavior: smooth;
}

html {
  font-size: 16px
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 4rem 2rem 0rem 2rem;
  gap: 2.25rem;
  width: 100%;

  min-height: -moz-calc(100vh - 4rem); /* Firefox */
  min-height: -webkit-calc(100vh - 4rem); /* Chrome, Safari */
  min-height: calc(100vh - 4rem); /* IE9+ and future browsers */
}

.page-projects {
  margin-top: 2.5rem;
}

.page-hero {
  padding-right: 0;
  padding-left: 0;
}

.page-home-content {
  margin-top: 2.25rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.25rem 2rem;
  gap: 2rem;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.section-content > h2 {
  text-align: center;
}

.section-secondary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.25rem 0rem;
  width: 100%;
  gap: 1.5rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.25rem 0rem;
  width: 100%;
  gap: 1.5rem;
}

.section-project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
}

.about-hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1.5rem;
}

/* iPad Styles */
@media only screen and (min-width: 650px) {

  .page-about {
    max-width: 40rem;
  }

  .hero-container {
    max-width: 40rem;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {
  
  html {
    font-size: 14px
  }

  body {
    background-color: white;
  }

  .page {
    max-width: 60rem;
    gap: 4.5rem;
    padding-top: 7.5rem;
  }

  .page-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .page-projects {
    padding-top: 10rem;
  }

  .page-contact {
    padding-top: 15rem;
  }

  .section {
    gap: 7.5rem;
    padding: 0;
  }

  .section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  .section-content > h2 {
    max-width: 18rem;
  }

  .page-home-content {
    gap: 9rem;
    margin: 7.5rem 0 5.5rem 0;
  }

  .hero-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    max-width: none;
  }

  .section-secondary {
    gap: 3rem;
  }

  .section-project {
    gap: 3rem;
  }

  .section-solutions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 1600px) {
  
  html {
    font-size: 16px
  }

  a,
  a label {
    cursor: pointer;
  }
}

/* ---------- Navigation Menu ---------- */

.nav-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.nav-container.expanded {
  height: 200%;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  min-height: 4rem;
  background-color: white;
  padding: 0rem 2rem;
}

.nav-buttons.expanded {
  background-color: #40302B;
}

.nav-overlay {
  display: none;
}

.nav-overlay.expanded {
  display: block;
  background-color: rgb(43, 59, 64, 0.3);
  height: 100%;
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.25rem;
}

.logo > path {
  fill: #2B3B40;
}

.logo.expanded > path {
  fill: #DBECF1;
}

.hamburger-icon {
  background-image: url("resources/nav.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 2.5rem;
  width: 2.5rem;
}

.hamburger-icon.expanded {
  background-image: url("resources/x-icon.svg");
}

.nav-list {
  display: none;
  padding: 1rem 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.nav-list.expanded {
  display: flex;
  background-color: #40302B;
}

.nav-list a {
  color: white;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem; /* 233.333% */
  text-transform: uppercase;
}

.nav-not-current {
  text-decoration: none;
}

.nav-not-current:hover {
  text-decoration: underline;
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {

  .nav-container {
    flex-direction: row;
    align-items: center;
    padding: 0 5rem;
    height: 7.5rem;
    background-color: white;
    border-bottom: 2px solid #DBECF1;
  }

  .hamburger-icon {
    display: none;
  }

  .nav-list {
    display: flex;
    padding: 0 2rem;
  }

  .nav-list > ul {
    display: flex;
    padding: 0;
    gap: 2rem;
  }

  .nav-list a {
    color: #151515;
    font-size: 1rem;
    font-weight: 400;
    line-height: 3.5rem;
  }
}

/* ---------- Footer ---------- */

footer {
  color: #545454;
  display: flex;
  padding: 2.25rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  text-align: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.arrow-up {
  position: absolute;
  right: 2rem;
}

.arrow-up-design {
  background-color: #DBECF1;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  padding: 0.25rem;
  border: 2px solid #DBECF1;
  box-shadow: 0 0.5rem 1rem 0 rgba(20, 20, 20, 0.1);
}

.arrow-up-design:hover {
  background-color: white;
  border: 2px solid #DBECF1;
}

.arrow-down {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 1.5rem;
}

.arrow-down-design {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
}

#anchor {
  scroll-margin-top: 5rem;
}

@-moz-keyframes bounce {
  0%, 20%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem);
  }
}
@keyframes bounce {
  0%, 20%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    -webkit-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem);
  }
}

.bounce {
  -moz-animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}

.fade {
  opacity:0;
  transition: 1s all ease-out;
}


.bring-to-top-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

/* Big Phone Styles */
@media only screen and (min-width: 390px) {

  .break-line {
    display: none;
  }
}


/* Desktop Styles */
@media only screen and (min-width: 1000px) {
  .arrow-up-design {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    padding: 0.5rem;
    border: 2px solid #DBECF1;
  }

  .arrow-down-design {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
  }

  .arrow-up {
    right: 2%;
  }

  #anchor {
    scroll-margin-top: 10rem;
  }
}

/* Desktop Big Screen Styles */
@media only screen and (min-width: 1600px) {
  .arrow-up {
    right: 20%;
  }

  .arrow-down {
    display: flex;
    justify-content: flex-end;
    width: 1600px;
    padding: 0;
  }

  #anchor {
    scroll-margin-top: 12rem;
  }
}

/* ---------- Divider ---------- */

hr {
  border: 1px solid #DBECF1;
  width: 100%;
}

/* Desktop Big Screen Styles */
@media only screen and (min-width: 1600px) {
  .hero-divider {
    width: 1600px;
  }
}

/* ---------- Text ---------- */

p , li {
  font-size: 1rem;
  font-style: normal;
  font-weight: 250;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.01563rem;
}

ol > li , ul > li {
  margin-left: 1.5rem;
}

li {
  margin: 0.5rem 0;
}

.remove-list-bullet {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.remove-list-bullet > li {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.hero > p {
  font-weight: 350;
}

.social-icons > li {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 550;
}

.about-date {
  font-weight: 200;
}

.about-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0.25rem 0rem 0.5rem 0rem;
}

.languages {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.caption {
  color: #545454;
  font-size: 0.75rem;
  font-weight: 250;
  line-height: 1.5rem; /* 150% */
}

.caption-link {
  color: #545454;
}

h1 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem; /* 100% */
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 125% */
  letter-spacing: 0.01563rem;
}

h3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 150% */
  letter-spacing: 0.01563rem;
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {
  p , li {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.25rem;
  }

  .hero > p {
    font-weight: 300;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;

  }

  .about-date {
    font-weight: 250;
    width: 14.5rem;
    min-width: 14.5rem;
  }
  
  .about-title {
    font-size: 1.5rem;
    margin: 0rem 0rem 1rem 0rem;
  }

  .skills-title {
    width: 15rem;
    min-width: 15rem;
  }
  
  .languages {
    gap: 3rem;
  }
  
  .caption {
    font-size: 1rem;
    line-height: 2.5rem;
  }
  
  h1 {
    font-size: 6rem;
    line-height: 6rem; /* 100% */
  }
  
  h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

/* ---------- Buttons ---------- */

a.button {
  text-decoration: none;
}

p > a{
  color: #151515;
}

.project-content > a {
  text-decoration: none;
  color: #151515;
}

.button {
  color: white;
  background: #2B3B40;
  display: flex;
  width: 16rem;
  height: 3rem;
  padding: 0rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.625rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 510;
  line-height: 2.5rem; /* 250% */
  letter-spacing: 0.01563rem;
}

.button:hover {
  border: 1px solid #2B3B40;
  background: white;
  color: #2B3B40;
}

.button-small {
  width: 9rem;
}

.button-secondary {
  color: #545454;
  background: #DBECF1;
}

.button-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.01563rem;
  color: #151515;
  text-decoration: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5rem 0;
  margin-bottom: 2.5rem;
  gap: 1.5rem;
  width: 100%;
}

.buttons-together {
  display: flex;
  padding-top: 0.625rem;
  align-items: flex-start;
  gap: 0.5rem;
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {
  .button {
    font-size: 1.5rem;
    font-weight: 400;
    width: 16rem;
    height: 4rem;
  }

  .button-more {
    gap: 0.75rem;
    font-size: 1.5rem;
  }

  .button-container {
    gap: 3.5rem;
    margin-bottom: 3.5rem;
  }

  .buttons-together {
    gap: 1rem;
  }
}

/* ---------- Arrows ---------- */

.arrow-forward {
  background-color: #151515;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  padding: 0.25rem;
}

.arrow-forward:hover {
  background-color: #40302B ;
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {
  .arrow-forward {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
  }
}

/* ---------- Hero Images ---------- */

.hero {
  display: flex;
  padding: 2rem 2rem 5rem 2rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  background-image: url("resources/karin1.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
  
  min-height: -moz-calc(100vh - 7.5rem); /* Firefox */
  min-height: -webkit-calc(100vh - 7.5rem); /* Chrome, Safari */
  min-height: calc(100vh - 7.5rem); /* IE9+ and future browsers */
}

.profile-top {
  display: flex;
  justify-content: center;
  align-self: stretch;
  align-items: center;
}

.profile-picture {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 6.25rem;
}

.profile-picture-home {
  display: none;
}

/* iPad Styles */
@media only screen and (min-width: 650px) {

  .profile-picture {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {
 .hero {
  background-image: none;
  padding: 0;
  box-shadow: none;
  min-height: 0vh;
  background-size: none;
  gap: 1.5rem;
 }

 .profile-picture-home {
  display: block;
  width: 20rem;
  height: 20rem;
  border-radius: 11rem;
 }

 .profile-picture {
  width: 20rem;
  height: 20rem;
  border-radius: 11rem;
}
}
/* ---------- Project Preview ---------- */

.project-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 14rem;
}

.carousel-buttons {
  display: flex;
  gap: 0.25rem;
  margin-top: -0.5rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.carousel::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.carousel {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.project-subtitle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.phone {
  width: 14rem;
  display: flex;
  flex-shrink: 0;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {
  .project-preview {
    gap: 3.5rem;
    padding: 0;
  }

  .project-content {
    gap: 1.5rem;
  }

  .zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
  }

  .project-home {
    align-items: flex-start;
    text-align: left;
  }

  .carousel {
    display: flex;
    overflow-x: visible;
    scroll-snap-type: none;
    width: 100%;
  }

  .carousel-buttons {
    display: none;
  }

  .phone {
    width: 18.5rem;
  }

}

/* ---------- Page Bottom ---------- */

.previous-next-project {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

/* ---------- Images ---------- */

.image {
  width: 100%;
}

/* iPad Styles */
@media only screen and (min-width: 650px) {
.image {
  width: 80%;
}
}

/* ---------- Contact ---------- */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.contact > a {
  color: #151515;
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {

  .contact {
    width: 15rem;
    gap: 0.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}




/* ---------- Projects Specifics ---------- */

/* ---------- Table ---------- */

table {
  width: 100%;
  max-width: 25rem;
  border-spacing: 0.25rem 0.25rem;
}

td:first-of-type{
  width: 7.5rem;
}

.skills-square {
  background-color: #2B3B40;
  border-radius: 0.2rem;
}

.empty {
  background-color: #DBECF1;
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {

  .table {
    max-width: 45rem;
  }

  .skills-square {
    min-width: 2.5rem;
  }
}

/* ---------- Horizontal Scroll ---------- */

.scroll-container {
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  background-color: #DBECF1;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 0.5rem;
  -webkit-overflow-scrolling: touch;
}

/* Scrollbar */
.scroll-container::-webkit-scrollbar {
  height: 2.5rem;
}

/* Track */
.scroll-container::-webkit-scrollbar-track { 
  background: #DBECF1;
  border-radius: 1rem;
}

/* Handle */
.scroll-container::-webkit-scrollbar-thumb {
  background: #2B3B40;
  border-radius: 1rem;
  border: 8px solid transparent;
  background-clip: padding-box;
  background-image: url("resources/arrow-left.svg") , url("resources/arrow-right.svg");
  background-position: left , right;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Handle on hover */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #40302B;
  background-clip: padding-box;
  background-image: url("resources/arrow-left.svg") , url("resources/arrow-right.svg");
  background-position: left , right;
  background-size:contain;
  background-repeat: no-repeat;
}

.scroll-picture-display {
  flex: 0 0 auto;
  height: 20rem;
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {

  .scroll-container {
    height: 36.5rem;
  }

  .scroll-picture-display {
    width: 15rem;
    height: 32rem;
  }
}

/* ---------- Competitors ---------- */

.competitors-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.competitor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 5.5rem;
  gap: 0.5rem;
}

.competitors-logo {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.logo-border {
  border: 0.05rem solid #BCB7A8;
  border-radius: 0.5rem;
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {
  .competitors-container {
    max-width: none;
    gap: 2rem;
  }

  .competitors-logo {
    width: 4rem;
    height: 4rem;
  }

  .logo-border {
    border-radius: 1rem;
  }

  .competitors-patterns {
    width: 37rem;
    margin: auto;
  }

  .competitor {
    width: 7.5rem;
  }
}

/* ---------- Solutions ---------- */

.solutions-numbers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.solutions-numbers-container:first-of-type {
  margin-top: 1rem;
}

.solutions-numbers-text {
  text-align: center;
  font-size: 3rem;
  font-weight: 274;
  line-height: 6rem; /* 200% */
  width: 4rem;
}

.solutions-container {
  display: flex;
  padding: 2rem 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: #9DCDC7;
  width: 100%;
}

.solutions-paywall {
  background: #BCB7A8;
}

.solutions-odeon {
  background: #99CBF5;
}

.solutions-growit {
  background: #CFD8C3;
}

.before-after-container {
  display: flex;
  padding: 1.5rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;

  border-radius: 0.5rem;
  background: #F5F5F5;
}

.before-after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.image-preview {
  width: 100%;
  max-width: max-content;
}

/* Big Phone Styles */
@media only screen and (min-width: 450px) {

  .before-after-container {
    flex-direction: row;
  }
}

/* iPad Styles */
@media only screen and (min-width: 650px) {

  .solutions-numbers-container{
    flex-direction: row;
    margin-bottom: 0;
    gap: 3rem;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {
  
  .solutions-container {
    max-width: 43rem;
    min-height: 8.5rem;
    justify-content: center;
  }
  
  .solutions-numbers-text {
    font-size: 4rem;
  }

  .solutions-container {
    gap: 1rem;
  }
}

/* ---------- Style Guide ---------- */

.image-style-guide-small {
  max-width: 25rem;
}

.image-style-guide-big {
  display: none;
}

/* iPad Styles */
@media only screen and (min-width: 650px) {
  .image-style-guide-small {
    display: none;
  }
  
  .image-style-guide-big {
    display: block;
    width: 100%;
  }
}

/* ---------- Iteration ---------- */

.section-iteration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}

.iteration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.iteration-growit {
  flex-direction: row;
  padding: 0.5rem 0;
  width: 100%;
}

.arrow-iteration {
  fill: #151515;
  transform: rotate(90deg);
}

.arrow-iteration-growit {
  fill: #151515;
}

/* iPad Styles */
@media only screen and (min-width: 650px) {

  .iteration {
    flex-direction: row;
  }

  .arrow-iteration {
    transform: initial;
  }
}

/* ---------- Reviews ---------- */

.reviews-container {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1rem;
  background: #F5F5F5;
  max-width: 45rem;
  margin: auto;
}

.reviews-stars {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
}

.user-interviews-container {
  display: flex;
  flex-direction: column;
  margin-top: 2.25rem;
  gap: 2.25rem;
}

.user-interview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user-image {
  width: 7.5rem;
  height: 7.5rem;
}

.user-interview-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.user-interview-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {
  .user-interview {
    flex-direction: row;
    gap: 3rem;
  }

  .user-interview-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .user-image {
    width: 15rem;
    height: 15rem;
  }
}

/* ---------- Final Design ---------- */

.final-design-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.final-design-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  text-align: center;
}

video {
  width: 13.5rem;
  height: 27.5rem;
  border-radius: 2.5rem;
}

/* iPad Styles */
@media only screen and (min-width: 650px) {
  .final-design-phone {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: left;
  }

  .final-design-container :nth-child(odd) {
    flex-direction: row-reverse;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {
  video {
    width: 20rem;
    height: 40.75rem;
    border-radius: 3.5rem;
  }

  .final-design-phone {
    gap: 2rem;
  }
}

/* ---------- Prototype ---------- */

.prototype {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.interaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.iframe-design {
  width:90vw;
  height: 35rem;
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {

  .iframe-design {
    width:50vw;
    height: 48rem;
  }
}

/* ---------- Visuals ---------- */

.context-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.875rem;
  height: 9.875rem;
  border-radius: 50rem;
  background-color: #CFD8C3;
  text-align: center;
}

.graph-container-onboarding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 2.5rem;
  width: 100%;
}

.market-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.graph-container {
  display: flex;
  align-items:flex-end;
  gap: 1rem;
}

.graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: #000; 
  text-align: center;
  font-size: 0.75rem;
  font-weight: 274;
  line-height: 1rem; /* 133.333% */
  gap: 0.25rem;
  width: 3rem;
}

.graph-color {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 0.75rem;
  font-weight: 274;
  line-height: 1.5rem; /* 200% */
}

.graph-new-us {
  background: #9DCDC7;
  width: 3rem;
  height: 8.1875rem;
}

.graph-existing-us {
  background: #BCB7A8;
  width: 3rem;
  height: 16rem;
}

.graph-new-non-us {
  background: #9DCDC7;
  width: 3rem;
  height: 14.25rem;
}

.graph-existing-non-us {
  background: #BCB7A8;
  width: 3rem;
  height: 10.25rem;
}

.graph-new-us-paywall {
  background: #9DCDC7;
  width: 3rem;
  height: 9.1875rem;
}

.graph-existing-us-paywall {
  background: #BCB7A8;
  width: 3rem;
  height: 15.875rem;
}

.graph-new-non-us-paywall {
  background: #9DCDC7;
  width: 3rem;
  height: 13.1875rem;
}

.graph-existing-non-us-paywall {
  background: #BCB7A8;
  width: 3rem;
  height: 5.4375rem;
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {
  .graph-new-us {
    width: 5rem;
  }
  
  .graph-existing-us {
    width: 5rem;
  }
  
  .graph-new-non-us {
    width: 5rem;
  }
  
  .graph-existing-non-us {
    width: 5rem;
  }

  .graph-new-us-paywall {
    width: 5rem;
  }
  
  .graph-existing-us-paywall {
    width: 5rem;
  }
  
  .graph-new-non-us-paywall {
    width: 5rem;
  }
  
  .graph-existing-non-us-paywall {
    width: 5rem;
  }

  .graph-text {
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 250;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.01563rem;
  }

  .graph-container {
    gap: 1.5rem;
    justify-content: center;
  }

  .market-container {
    gap: 1.5rem;
  }

  .graph-container-onboarding {
    gap: 7.5rem;
  }

  .graph {
    width: 5rem;
  }

  .context-container {
    flex-direction: row;
  }

  .notes {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    width: 100%;
  }

  .highlight {
    width: 15rem;
    height: 15rem;
    border-radius: 50rem;
  }
}





:root {
  --color-brown: #40302B
}



#fade-in-hero {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



/* .section , .section-secondary , .section-project {
  animation: auto linear slide-from-left both;
  animation-timeline: view();
  animation-range: entry 5% cover 20%;
}

@keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(+100%);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
} */

.section , .section-secondary , .section-project {
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range-start: entry;
  animation-range-end: cover 15%;
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(0.5rem);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}